* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
*::before {
    box-sizing: border-box;
}

/* css reset */

#style {
    display: none;
}

#main {
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0;
    overflow: hidden;
}

#placeholder {
    position: absolute;
    width: 100%;
    height: 50vh;
    padding-left: 30px;
    top: 0;
    overflow: scroll;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 10px;
}

.buttons>button{
    margin-top: 10px;
}